<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.customer.dao.CustomerDao">

    <!--用户列表-->
    <select id="listCustomersByPage" parameterType="com.xzsd.pc.customer.entity.CustomerInfo" resultType="com.xzsd.pc.customer.entity.CustomerInfo">
        select
        a.user_name customerName,
        a.user_acct customerAcct,
        a.id_card idCard,
        a.sex sex,
        a.phone,
        a.email
        from t_ysy_user a
        where a.is_deleted = 0
        and  a.role = 3
        <if test="customerAcct != null and customerAcct != ''">
            and a.user_acct like concat('%', #{customerAcct}, '%')
        </if>
        <if test="customerName != null and customerName != ''">
            and a.user_name like concat('%', #{customerName}, '%')
        </if>
        order by create_time desc
    </select>
</mapper>