<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.driver.dao.DriverDao">

    <!--统计司机账号数量-->
    <select id="countUserAcct" parameterType="com.xzsd.pc.driver.entity.DriverInfo" resultType="int">
        select count(user_acct)
        from t_sys_user
        where is_deleted = 0
        and user_acct = #{userAcct}
        <if test="userCode != null and userCode != ''">
            and user_code != #{userCode}
        </if>
    </select>

    <!--新增司机-->
    <insert id="saveDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        insert into t_sys_user
        (user_code,
         user_name,
         user_acct,
         user_pwd,
         id_card,
         phone,
         role,
         image_path,
         province_code,
         city_code,
         area_code,
         is_deleted,
         create_user,
         create_time,
         update_user,
         update_time,
         version)
        values
           (#{userCode},
            #{userName},
            #{userAcct},
            #{userPwd},
            #{idCard},
            #{phone},
            2,
            #{imagePath},
            #{provinceCode},
            #{cityCode},
            #{areaCode},
            #{isDeleted},
            #{createUser1},
            now(),
            #{updateUser1},
            now(),
            0)
    </insert>

    <!--司机列表-->
    <select id="listDriverByPage" parameterType="com.xzsd.pc.driver.entity.DriverInfoVO" resultType="com.xzsd.pc.driver.entity.DriverInfoVO">
        select
        a.user_code userCode,
        a.user_name userName,
        a.user_acct userAcct,
        a.id_card idCard,
        a.phone,
        a.role,
        a.is_deleted isDeleted,
        a.create_time createTime1,
        a.create_user createUser1,
        a.update_time updateTime1,
        a.update_user updateUser1,
        a.version
        from t_sys_user a
        where a.is_deleted = 0
        and a.role = 2
        <if test="role == 1">
            and a.area_code = (select area_code from t_ysy_shop where user_code = #{userId})
        </if>
        <if test="userCode != null and userCode != ''">
            and a.user_code like concat('%', #{userCode}, '%')
        </if>
        <if test="userName != null and userName != ''">
            and b.user_name like concat('%', #{userName}, '%')
        </if>
        <if test="provinceCode != null and provinceCode != ''">
            and a.province_code = #{provinceCode}
        </if>
        <if test="cityCode != null and cityCode != ''">
            and a.city_code = #{cityCode}
        </if>
        <if test="areaCode != null and areaCode != ''">
            and a.area_code = #{areaCode}
        </if>
        order by a.create_time desc
    </select>

    <!--删除司机-->
    <update id="deleteDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        update t_sys_user
        set
        is_deleted = 1,
        update_time= now(),
        update_user  = #{userId},
        version = version + 1
        where user_code in
        <foreach item="item" index="index" collection="listCode" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--修改司机信息-->
    <update id="updateDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        update t_sys_user
        set
            user_name    = #{userName},
            user_acct    = #{userAcct},
            id_card      = #{idCard},
            user_pwd     = #{userPwd},
            phone        = #{phone},
            province_code= #{provinceCode},
            city_code    = #{cityCode},
            area_code    = #{areaCode},
            image_path   = #{imagePath},
            update_time  = now(),
            update_user  = #{updateUser1},
            version      = version + 1
        where user_code = #{userCode}
          and version = #{version}
    </update>

    <!--获取司机信息-->
    <select id="getUserByUserCode" parameterType="java.lang.String" resultType="com.xzsd.pc.driver.entity.DriverInfo">
        select
            a.user_code userCode,
            a.user_name userName,
            a.user_acct userAcct,
            a.user_pwd userPwd,
            a.id_card idCard,
            a.phone,
            a.image_path imagePath,
            a.province_code provinceCode,
            a.city_code cityCode,
            a.area_code areaCode,
            b.area_name provinceName,
            c.area_name cityName,
            d.area_name areaName,
            version
        from t_sys_user a, t_sys_area b, t_sys_area c, t_sys_area d
        where user_code = #{userCode}
        and a.is_deleted = 0
        and a.province_code = b.area_code
        and a.city_code = c.area_code
        and a.area_code = d.area_code
    </select>
</mapper>