<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.menu.dao.MenuDao">

    <!--新增菜单-->
    <insert id="saveMenu" parameterType="com.xzsd.pc.menu.entity.MenuInfo">
        insert into t_ysy_menu
        (menu_code,
         menu_name,
         menu_path,
         menu_comment,
         is_deleted,
         create_user,
         create_time,
         update_user,
         update_time,
         version)
        values
           (#{menuCode},
            #{menuName},
            #{menuPath},
            #{menuComment},
            #{isDeleted},
            #{createUser1},
            now(),
            #{updateUser1},
            now(),
            0)
    </insert>

    <!--菜单列表-->
    <select id="listMenu" parameterType="com.xzsd.pc.menu.entity.MenuInfoVO" resultType="com.xzsd.pc.menu.entity.MenuInfoVO">
        select
        a.menu_code menuCode,
        a.menu_name menuName,
        a.is_deleted isDeleted,
        a.create_time createTime1,
        a.create_user createUser1,
        a.update_time updateTime1,
        a.update_user updateUser1,
        a.version
        from t_ysy_menu a
        where a.is_deleted = 0
    </select>

    <!--角色菜单列表-->
    <select id="listMenuHome" parameterType="com.xzsd.pc.menu.entity.MenuInfoVO" resultType="com.xzsd.pc.menu.entity.MenuInfoVO">
        select
        a.menu_code menuCode,
        a.menu_name menuName,
        a.is_deleted isDeleted,
        a.create_time createTime1,
        a.create_user createUser1,
        a.update_time updateTime1,
        a.update_user updateUser1,
        a.version
        from t_ysy_menu a
        where a.is_deleted = 0
        <if test="role == 1">
            and a.menu_code in ('6','7','9','10')
        </if>
        <if test="role == 2 || role ==3">
            and a.menu_code in ('1321');
        </if>
    </select>

    <!--删除菜单-->
    <update id="deleteMenu" parameterType="com.xzsd.pc.menu.entity.MenuInfo">
        update t_ysy_menu
        set
        is_deleted = 1,
        update_time= now(),
        update_user  = #{userId},
        version = version + 1
        where menu_code in
        <foreach item="item" index="index" collection="listCode" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--修改菜单信息-->
    <update id="updateMenu" parameterType="com.xzsd.pc.menu.entity.MenuInfo">
        update t_ysy_menu
        set
            menu_name    = #{menuName},
            menu_path    = #{menuPath},
            menu_comment = #{menuComment},
            update_time  = now(),
            update_user  = #{updateUser1},
            version      = version + 1
        where menu_code = #{menuCode}
          and version = #{version}
    </update>

    <!--获取用户信息-->
    <select id="getMenuByMenuCode" parameterType="java.lang.String" resultType="com.xzsd.pc.menu.entity.MenuInfo">
        select
            menu_code menuCode,
            menu_name menuName,
            menu_path menuPath,
            menu_comment munComment,
            version
        from t_ysy_menu
        where menu_code = #{menuCode}
        and is_deleted = 0
    </select>
</mapper>