<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.order.dao.OrderDao">

    <!--订单详情列表-->
    <select id="listOrderDetailsByPage" parameterType="com.xzsd.pc.order.entity.OrderDetailsInfo" resultType="com.xzsd.pc.order.entity.OrderDetailsInfo">
        select
        a.user_code userCode,
        a.order_code orderCode,
        a.goods_code goodsCode,
        b.goods_name goods_name,
        a.buy_sum   buySum,
        a.orderdetails_cost orderDetailsCost,
        b.sell_price sellPrice,
        b.pricing  pricing,
        a.is_deleted isDeleted,
        a.create_time createTime1,
        a.create_user createUser1,
        a.update_time updateTime1,
        a.update_user updateUser1,
        a.version
        from t_ysy_orderdetails a, t_ysy_goods b
        where a.is_deleted = 0
        and a.goods_code = b.goods_code
        and a.order_code = #{orderCode}
        order by a.create_time desc
    </select>
</mapper>